header {
    background-color: rgb(82, 182, 235);
    margin: 0px 0px 0px 0px;
}

input[type=text] {
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: lightblue;
}